<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Órarend</title>
    </head>
    <body>
        <h1>Órarend</h1>
        <table>
            <tr>
                <th></th>
                <th>Hétfő</th>
                <th>Kedd</th>
                <th>Szerda</th>
                <th>Csütörtök</th>
                <th>Péntek</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <form>
            <select id="nap">
                <option value="Hétfő">Hétfő</option>
                <option value="Kedd">Kedd</option>
                <option value="Szerda">Szerda</option>
                <option value="Csütörtök">Csütörtök</option>
                <option value="Péntek">Péntek</option>
            </select>
            <select id="oraszam">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <select id="tantargy">
                <option value="Matematika">Matematika</option>
                <option value="Magyar nyelv és irodalom">
                    Magyar nyelv és irodalom
                </option>
                <option value="Történelem">Történelem</option>
                <option value="Angol">Angol</option>
                <option value="Testnevelés">Testnevelés</option>
            </select>
            <select id="tanar">
                <option value="Kiss Lajos">Kiss Lajos</option>
                <option value="Közepes Natália">Közepes Natália</option>
                <option value="Nagy Eszter">Nagy Eszter</option>
                <option value="Kovács Elemér">Kovács Elemér</option>
                <option value="Sportos Ella">Sportos Ella</option>
            </select>
            <select id="terem">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="Tornaterem">Tornaterem</option>
            </select>
            <button id="feltolt">Feltölt</button>
        </form>
        <script src="/js/feldolgoz.js"></script>
    </body>
</html>
